.composition{
    position: relative;

    &__photo{
        width: 55%;  //percentages for responsive web designs.
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute; //ref of absolute is the first parent.
        z-index: 10;
        transition: all .2s; //animation effect transition on all the properties in .2sec
        outline-offset: 2rem; //distance between outline and the elem.

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.33333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1{
            left: 0;
            top: -2rem; //move upward.

            @include respond(tab-port){
                top: 0;
                transform: scale(1.2);
            }
        }
        &--p2{
            right: 0; //moving 0px from the right side of the container.
            top: 2rem; //move 20px downward from top

            @include respond(tab-port){
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }
        }
        &--p3{
            left: 20%;
            top: 10rem; 

            @include respond(tab-port){
                top: 1rem;
                left: 0;
                transform: scale(1.1);
            }
        }

        
        &:hover{
            outline: 1.5rem solid $color-primary; //same like border but do multiple stuff with it.
            transform: scale(1.05) translateY(-.5rem); //rooming
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
    //when zoom in want other image to decrease in size.
    &:hover &__photo:not(:hover){  // composition:hover composition__photo:not(:hover){
        transform: scale(.95);
    }
}